body {
    overflow: hidden;
    font-family: "Ubuntu sans", Arial, sans-serif;
    font-size: 14px;
    color: #ddd;
    line-height: 1em;
    background: #1e1e1e;
}

#panel-main {
    margin: 0;
    position: absolute;
    z-index: 2;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
}

#panel-left {
    margin: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;

    background: #191919;
}

#panel-right {
    margin: 0;
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;

    background: #191919;
}

#editor, #viewer { 
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#top-separator {
    margin: 0;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 0px;
    z-index: 300;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #333333;
}

#mid-separator {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 42px;
    bottom: 0;
    right: 0;
    width: 0px;
    z-index: 301;
    border-right: 1px solid #111111;
    border-left: 1px solid #333333;
}

#console { 
    margin: 0;
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 0;
    left: 3px;
    width: 396px;
    z-index: 220;
    background: #1e1e1e;    
    border-left: 1px solid #292929;
}

#console-text {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: #666;
    text-shadow: 0px 1px 1px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
    padding: 6px;
    outline: none;
    overflow: hidden;
    scroll: none;
}

