body {
  overflow: hidden;
  font-family: "Ubuntu sans", Arial, sans-serif;
  font-size: 14px;
  color: #ddd;
  line-height: 1em;
  background: #1e1e1e;
}

#panel-main,#panel-left,#panel-right,#editor,#viewer
{
  overflow: hidden;
  scroll: none;
}

#shdr {
  font-size: 40px;
  font-weight: bold;
  font-family: "Ubuntu mono", monospace;
  color: #262626;
  position: absolute;
  z-index: 800;
  top: 10px;
  left: 5px;
}

#panel-top {
  margin: 0;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
}
#panel-bottom {
  margin: 0;
  position: absolute;
  z-index: 400;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}

#panel-main {
  margin: 0;
  position: absolute;
  z-index: 2;
  top: 42px;
  bottom: 30px;
  left: 0;
  right: 0;
}

#panel-left {
  margin: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;

  background: #191919;
}

#panel-right {
  margin: 0;
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;

  background: #191919;
}

#editor, #viewer, #footer { 
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#top-separator {
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  height: 0px;
  z-index: 300;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #333333;
}

#bottom-separator {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  height: 0px;
  z-index: 302;
  border-bottom: 1px solid #111111;
  border-top: 1px solid #333333;
}

#mid-separator {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 42px;
  bottom: 30px;
  right: 0;
  width: 0px;
  z-index: 301;
  border-right: 1px solid #111111;
  border-left: 1px solid #333333;
}

#console { 
  margin: 0;
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 0;
  left: 3px;
  width: 396px;
  z-index: 220;
  background: #1e1e1e;    
  border-left: 1px solid #292929;
}

#console-text {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  color: #666;
  text-shadow: 0px 1px 1px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=1);
  padding: 6px;
  outline: none;
  overflow: hidden;
  scroll: none;
}

#status {
  line-height: 29px;
  font-size: 14px;
  font-family: "Ubuntu mono", monospace;
  padding-left: 16px;
}

#status i {
  margin-right: 8px;
}

.status-error {
  color: #F92672;
}

.status-success {
  color: #ACFF30;
}

.status-warning {
  color: #FFD930;
}

.status-info {
  color: #38A2FF;
}

.menu {
  border: 1px solid #111111;
  border-top: none;
  border-left-color: #333;
  float: left;
}

.menu-list {
  display: none;
}

.menu-item, .menu-trigger, .menu-button, .menu-toggle, .menu-blank {
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: left;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;

  border-top: 1px solid #111111;
  border-bottom: 1px solid #333333;
  border-left: none;
  border-right: none;
  color: #ddd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;

  outline: none !important;

  text-overflow: ellipsis;

  background: #333333;
  background: -moz-linear-gradient(top,  #333333 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222));
  background: -webkit-linear-gradient(top,  #333333 0%,#222222 100%);
  background: -o-linear-gradient(top,  #333333 0%,#222222 100%);
  background: -ms-linear-gradient(top,  #333333 0%,#222222 100%);
  background: linear-gradient(top bottom,  #333333 0%,#222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 );

}

.menu-status button {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  height: 30px;
  line-height: 30px;
}

.menu-item {
  line-height: 34px;
  height: 34px;
}

button::-moz-focus-inner {
  border: 0;
}

.menu-toggle:hover, .menu-item:hover, .menu-trigger:hover, .menu-button:hover,
.menu-toggle:focus, .menu-item:focus, .menu-trigger:focus, .menu-button:focus,
.menu-toggle:active, .menu-item:active, .menu-trigger:active, .menu-button:active {
  color: #ffffff;
  background: #222222;
}

.menu-right {
  float: right !important;
}

.menu-item i, .menu-trigger i, .menu-button i, .menu-toggle i {
  margin-right: 6px;
  font-size: 14px;
}

.menu-icon-only {
  padding-left: 12px;
  padding-right: 12px;
}

.menu-icon-only i {
  margin-right: 0px;
}

.menu-trigger.open {
  padding-top: 4px;
  font-size: 0px;
}
.menu-trigger.open i {
  font-size: 14px;
}

.box {
  position: absolute;
  z-index: 1000;
  background: #1c1c1c;
  -webkit-box-shadow: 0px 0px 16px 0px #333;
  box-shadow: 0px 0px 16px 0px #333;
  border: 1px solid #090909;
  display: none;
}

.box h1 {
  margin: 0;
  padding: 12px;
  padding-top: 16px;
  color: #040404;
  text-shadow: 0px 1px 0px #333;
  filter: dropshadow(color=#333, offx=0, offy=1);
}

.box .close {
  color: #040404;
  text-shadow: 0px 1px 0px #333;
  filter: dropshadow(color=#333, offx=0, offy=1);
  font-size: 16px;
  padding: 4px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 6px;
  background: none;
  border: none;
}

.box .close:hover {
  color: #666;
}

.box .content {
  margin: 12px;
  margin-top: 0px;
  line-height: 1.2em;
}

.box a {
  color: #F92672;
}

#box-about {
  z-index: 1002;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -200px;
}

#box-share {
  z-index: 1001;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
}

#box-share-url {
  background: #111;
  border: none;
  width: 266px;
  line-height: 40px;
  height: 40px;
  color: #999;
  padding: 0px 10px;
  -webkit-box-shadow: inset 0px 4px 6px 0px #060606, 0px 1px 0px 0px #333333;
  box-shadow: inset 0px 4px 6px 0px #060606, 0px 1px 0px 0px #333333; 
}

#box-share-shorten {
  width: 86px;
  text-align: center;
  display: inline !important;
  margin: 0;
  border: 1px solid #090909;
  -webkit-box-shadow: 0px 1px 0px 0px #333333;
  box-shadow: 0px 1px 0px 0px #333333; 
}

.ace_gutter {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 1px solid #222222;
  border-left: 1px solid #333333;
}

.ace_scrollbar {
  display: none !important;
}

#editor {
  background: #272822;
  font-size: 16px;
  line-height: 18px;
}

.hl-error {
  background: #ff0000 !important;
}

button {
  position: relative;
}

button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#model-loader {
  width: 32px;
  height: 32px;
  padding: 9px;
  position: absolute;
  z-index: 1004;
  background: #191919;
  -webkit-box-shadow: 0px 0px 16px 0px #000;
  box-shadow: 0px 0px 16px 0px #000;
  border: 1px solid #090909;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  display: none;
}

.menu-blank {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

#save-name {
  cursor: text !important;
  background: #111;
  border: none;
  width: 80px;
  line-height: 26px;
  height: 26px;
  color: #999;
  padding: 0px 4px;
  -webkit-box-shadow: inset 0px 4px 6px 0px #060606, 0px 1px 0px 0px #333333;
  box-shadow: inset 0px 4px 6px 0px #060606, 0px 1px 0px 0px #333333; 
}

#menu-name, #menu-remove {
  display: none;
}